/*COLOR PALETTE:    lightsoftGreen #9be3ab    medsoftGreen  #4bc6b2    medBlue #4f87cb    eggplant #65578f    darkGrey #3c4d67   */
body{
  background-color: whitesmoke;
  color: #2b2a2a;
  font-size: 1.2rem;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

/* Provide sufficient contrast against white background */
a {
  color: #65578f;
}
a:hover {
  color: #4bc6b2;
}

.but {
  color: #3c4d67;
  font-weight: 600;
  text-decoration: none;

  border:2px solid #3c4d67;
  border-radius: 5px;
}
a.but:hover {
  border:2px solid #4bc6b2;
  color: #4bc6b2;
  text-decoration: none;
}

/* Trainer Index styles
-------------------------------------------------- */
.friendInfo {
  background-color: lightgray;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  width: calc(100% - 0.6rem);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #9be3ab;
  border: #3c4d67;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
